<li>
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}EAT AGAIN!{{else}}DEVOUR{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
